 *{
    margin: 0%;
    padding: 0;
    background-color: aqua;
 }


.alte{
    display: none;
}

.feriencamp:hover .alte{
    display:block;
}

.feriencamp{
    width: 30px;
    height: 30px;
}